.card{
  width: 80%;
  margin: 20px auto;
  border: 2px solid gray;
  padding: 10px;
}

ul{
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
li{
  margin-right: 14px;
  cursor: pointer;
  background-color:brown;
  color: #fff;
  padding: 10px;
}
ul li:last-child{
  margin-right: 0;
  /* margin-bottom: 0; */
}
.list-active{
  background-color: #32a852;
}

.pagination-container{
  display: flex;
  padding: 0 20px;
}

.pagination-container > p,ul{
  width: calc(100%/3);
}

.page-prev,.page-next{
  cursor: pointer;
}
.not-allow{
  cursor: default;
  color: gray;
}